<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href = "~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/container.css">
  </head>
  <body class="bg-light">
      <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Search">Telephone directory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/Home/Search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/Home/Add">Add</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    
    <div class="container mt-5">
      @RenderBody()
    </div>
    
    <hr>

    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>© 2023 All rights reserved</p>
    </footer>
    
    <script src="~/js/bootstrap.min.js"></script>
  </body>
</html>