<div class="text-center block-blank">
    <form class="form-login" action="/Home/Add" method="post" enctype="multipart/form-data">
      <h1 class="h3 mb-3 font-weight-normal">Adding a person</h1>
      
      <input type="tel" id="phone" class="form-control" placeholder="+77123456788 (!)" name="phone" pattern="\+[0-9]{11}" required>
      <br/>
      <input type="text" id="surname" class="form-control" placeholder="Surname (!)" name="surname" pattern="^[a-zA-Z]+$" required>
      <br/>
      <input type="text" id="initials" class="form-control" placeholder="Asmat Sashin (A.S.) (!)" name="initials" pattern="[A-Za-z]\.[A-Za-z]\." style="text-transform:uppercase;" required>
      <br/>
      <input type="number" id="house" class="form-control" placeholder="House (!)" name="house" min="1" required>
      <br/>
      <input type="number" id="building" class="form-control" placeholder="Building" name="building" min="1">
      <br/>
      <input type="number" id="flat" class="form-control" placeholder="Flat" name="flat" min="1">
      <br/>
      <label for="fruits" class="sr-only">City: </label>
      <select class="form-control" id="city" name="City.CityName">
        <option value="Almaty">Almaty</option>
        <option value="Nur-Sultan">Nur-Sultan</option>
        <option value="Shymkent">Shymkent</option>
        <option value="Karaganda">Karaganda</option>
        <option value="Aktobe">Aktobe</option>
        <option value="Taraz">Taraz</option>
        <option value="Pavlodar">Pavlodar</option>
        <option value="Ust-Kamenogorsk">Ust-Kamenogorsk</option>
        <option value="Semey">Semey</option>
        <option value="Oral">Oral</option>
        <option value="Kostanay">Kostanay</option>
        <option value="Kyzylorda">Kyzylorda</option>
        <option value="Petropavl">Petropavl</option>
        <option value="Atyrau">Atyrau</option>
        <option value="Temirtau">Temirtau</option>
      </select>
      <br/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    </form>
</div>